// Color
$color-black:   #000000;
$color-white:   #FFFFFF;
$color-accent:  #FE5F55;

$color-error:   #C0392B;
$color-success: #4DB788;

// Typography
$font-sans:     system,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Lucida Grande";
$base-font:     16px;
$line-height:   2;

// Media Queries
$small:         30em;
$medium:        43em;
$large:         70em;
