.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid darken($color-white, 4%);
  background: $color-white;
  animation: up .5s ease-in-out;
  font-size: 0;
  padding: 10px 0;

  &__options {
    max-width: 650px;
    width: 95%;
    margin: 0 auto;

    input {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 100px);
      min-height: 40px;
      border: 1px solid darken($color-white, 10%);
      padding-left: 15px;
      font-size: 12px;
      font-weight: 300;
      font-family: $font-sans;
    }

    .btn {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 100px;
      min-height: 40px;
    }
  }
}
