.site-content {
  position: relative;
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  animation: .4s hey ease-in-out;


  &__textarea {
    width: 100%;
    letter-spacing: 0.01rem;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    resize: none;
    border: 0;
    height: 100vh;
    padding-bottom: 20%;
    padding-top: 50px;

    @include small {
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
