.site-nav {
  background: $color-accent;
  display: none;
}

.site-nav__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.site-nav__list {
  &:nth-child(1) {
    animation: hey .4s ease-in-out;
  }

  &:nth-child(2) {
    animation: hey .5s ease-in-out;
  }

  &:nth-child(3) {
    animation: hey .5s ease-in-out;
  }

  &:nth-child(4) {
    animation: hey .7s ease-in-out;
  }
}

.site-nav__link {
  font-size: 2.5rem;
  color: $color-white;
  transition: .3s ease-in-out;

  @include small {
    font-size: 1.5rem;
  }

  &:hover {
    text-decoration: line-through;
  }
}

@keyframes hey {
  0% {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
