.btn {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background: darken($color-accent, 35%);
  border: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  transition: .3s;
  z-index: 100;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background: #171717;
    transform: scale(0.9);
  }

  svg {
    stroke: #FFF;
    transform: scale(0.8);
  }
}
