.editor {
  height: 100vh;
  background: #171717;
  width: 40%;


  &__textarea {
    width: 100%;
    letter-spacing: 0.01rem;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    resize: none;
    border: 0;
    height: 100vh;
    padding: 3vw;
    color: lighten(#242423, 40%);
    font-family: "Fira Mono";

    @include small {
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
