.editor {
  background: $color-white;
  width: 50%;


  &__textarea {
    width: 100%;
    letter-spacing: 0.01rem;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    background: transparent;
    resize: none;
    border: 0;
    height: 100vh;
    padding: 3vw;

    @include small {
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
