.preview {
  position: relative;
  height: 100vh;
  width: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3vw;
  background: $color-white;
  color: $color-black;
  font-family: 'PT Serif', serif;

  > * {
    max-width: 500px;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6, {
    font-weight: 400;
    line-height: 1.1;
  }

  ol {
    list-style: decimal-leading-zero;
    padding-left: 2vw;
    margin-bottom: 30px;

    ol {
      margin-left: 1vw;
    }
  }

  ul {
    padding-left: 2vw;
    margin-bottom: 30px;
    list-style-type: disc;

    ul {
      margin-left: 2vw;
      margin-bottom: 0;
    }
  }

  h1 { font-size: 50px; margin-bottom: 30px; }
  h2 { font-size: 40px; margin-bottom: 20px; }
  h3, h4, h5, h6 {
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  a {
    color: $color-black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  pre {
    display: block;
    background: darken($color-white, 2%);
    padding: 1vw;
    margin-bottom: 30px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    display: block;
    background: darken($color-white, 5%);
    padding: 1vw;
    margin-bottom: 30px;
    border-left: 5px solid darken($color-white, 10%);
    line-height: 1.5;
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  hr {
    display: block;
    border: 0;
    height: 2px;
    background: lighten($color-white, 5%);
    margin: 30px 0;
  }
}
